<div>
  <p-menubar>

    <a routerLink="dashboard" class="dashboardLink">
      <img src="assets/images/forum.png" class="forumImage">
    </a>

    <a routerLink="/post/new" [routerLinkActive]="'activeLink'" class="btn btn-default menuLink">
      <span class="fa fa-plus"></span> Add Post
    </a>

    <div class="authenticationButton">
      <button *ngIf="loggedUser" pButton label="Logout" icon="fa-sign-out" type="button"></button>

      <a routerLink="authentication/login" class="dashboardLink">
        <button pButton label="Log in" icon="fa-sign-in" type="button"></button>
      </a>
      <a routerLink="authentication/registration" class="dashboardLink">
        <button pButton label="Registration" icon="fa-user-plus" type="button"></button>
      </a>
    </div>

  </p-menubar>
</div>

<router-outlet></router-outlet>
