<div class="container">
  <div class="post" *ngIf="post">

    <div class="postHeader">
      <h2>{{post.header}}</h2>
    </div>

    <div *ngIf="post.imageId" class="postImageDiv">
      <a routerLink="/post/open/{{post.id}}">
        <img src="{{imageUrl + post.imageId}}" class="postImage">
      </a>
    </div>

    <div class="postContent">
      {{post.content}}
    </div>

    <form  #form="ngForm" (ngSubmit)="addComment(form)">
      <div class="addComment">
        <p-editor [(ngModel)]="post.newComment" [style]="{'height':'200px'}" name="addComment"></p-editor>
        <div class="form-group postSave">
          <button pButton label="Add comment" icon="fa-paper-plane" type="submit"></button>
        </div>
      </div>
    </form>

  </div>
</div>
