<div class="container">
  <div class="post" *ngIf="post">

    <div class="postHeader">
      <h2>{{post.header}}</h2>
    </div>

    <div *ngIf="post.imageId" class="postImageDiv">
      <img src="{{imageUrl + post.imageId}}" class="postImage">
    </div>

    <div class="postContent">
      {{post.content}}
    </div>

    <div class="row" style="margin-right: 0; margin-bottom: 5px">
      <div class="postCreatorSignature">
        {{post.creator.username}} {{post.createdDate | date: 'dd/MM/yyyy'}}
      </div>
    </div>

    <div *ngFor="let comment of post.comments" class="commentBody">
      <div class="commentHeader">
        <h6>{{comment.user.username}} {{comment.creationDate | date: 'dd/MM/yyyy'}}</h6>
      </div>

      <div [innerHTML]="comment.text"></div>
    </div>

    <form *ngIf="authenticationService.loggedUser" #form="ngForm" (ngSubmit)="addComment(form)">
      <div class="addComment">
        <p-editor [(ngModel)]="post.newComment" [style]="{'height':'200px'}" name="addComment"></p-editor>
        <div class="form-group postSave">
          <button pButton label="Add comment" icon="fa-paper-plane" type="submit"></button>
        </div>
      </div>
    </form>

  </div>
</div>
